<div class="table" ng-controller="PersonDetailCtrl">
  <h1>{{ person.name }} <small>{{ person.id }}</small></h1>
  <h4>{{ person.email }}</h4>
  <h4>{{ person.tel }}</h4>
  <h4>Address: </h4>
    <p>
      {{ person.address.street.name }} {{ person.address.street.number }} <br />
      {{ person.address.zip }} {{ person.address.city }}
    </p>
    Name
    <input ng-model="newPerson.name" value="" class="form-control" />
    Email
    <input ng-model="newPerson.email" value="" class="form-control" />
    Tel
    <input ng-model="newPerson.tel" value="" class="form-control" />


  <button ng-click="update()" class="btn btn-success">Update</button>
</div>
