<div class="table" ng-controller="PersonlistCtrl">
    <hr />
    <div class="clearfix">
        <!--<div class="row">
            <div class="col-sm-3 col-xs-6">
                <input type="text" class="form-control" ng-model="contact.name">
            </div>
            <div class="col-sm-3 col-xs-6">
                <input type="text" class="form-control" ng-model="contact.email">
            </div>
            <div class="col-sm-3 col-xs-6">
                <input type="text" class="form-control" ng-model="contact.number">
            </div>
            <div class="col-sm-3 col-xs-6">
                <button class="btn btn-primary" ng-click="addContact()">Add</button>
                <button class="btn btn-info" ng-click="update()">Update</button>
                <button class="btn btn-info" ng-click="clear()">Clear</button>
            </div>
        </div>-->
        <div class="row">
            <div class="col-xs-12">
                <label for="search"> Search: </label>
                <input type="text" class="form-control" id="search" ng-model="search" />
            </div>
        </div>
        <div class="row clearfix" ng-repeat="person in persons | filter:search">

            <div class="col-sm-3 col-xs-6">
                <a href="#/person/{{ person.id }}">{{ person.name }}</a> <br />
            </div>
            <div class="">

            </div>
            <div class="col-sm-3 col-xs-6">
                {{ person.email }}
            </div>
            <div class="col-sm-3 col-xs-6">
                {{ person.tel }}
            </div>
            <div class="col-sm-3 col-xs-6">
                <button class="btn btn-warning" disabled ng-click="edit(contact._id)">Edit</button>
            </div>

        </div>
    </div>
</div>
